main {
  margin: 0;
  font-family: Fenice Std Light Oblique;
}

header {
  margin: 0;
  height: 100px;
}
.instructions {
  height: 125px;
  width: auto;
}

.game {
  margin: auto;
  height: 400px;
  width: auto;
}

div {
  height: 350px;
  width: auto;
}

.pics {
  margin: 20px 150px;
  height: 200px;
  width: 200px;
  display: inline-block;
  border-radius: 50%;
  border: 12px solid black;
}

footer {
  height: 100px;
}
