main {
  margin: 0;
  font-family: Fenice Std Light Oblique;
}

header {
  margin: 0;
  height: 100px;
}
.instructions {
  height: 125px;
  width: auto;
}

.game {
  margin: auto;
  height: 400px;
  width: auto;
  background-color: grey;
}

div {
  height: 350px;
  width: auto;
  background-color: brown;
}

.pics {
  margin: 20px 20px;
  height: 200px;
  width: 200px;
  background-color: tan;
  padding: 20px 20px;
  display: inline-block;
  border-radius: 50%;
}

footer {
  height: 100px;
}
